@model DoAnCuoiKiNhom3BanDienThoaiDiDong_API.DTOs.OrderDetail

<h2>Chi Tiết Đơn Hàng</h2>
<p><strong>ID Đơn Hàng:</strong> @Model.OrderId</p>
<p><strong>ID Sản Phẩm:</strong> @Model.ProductId</p>
<p><strong>Giá Sản Phẩm:</strong> @Model.ProductPrice</p>
<p><strong>Số Lượng:</strong> @Model.Quantity</p>
<p><strong>Tổng Giá:</strong> @Model.TotalPrice</p>
<a asp-action="Index" class="btn btn-primary">Quay lại</a>
